* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.leftcolumn {
    float: left;
    margin-top: 20px;
    border: solid #333;
    width: 20%;
    height: 90%;
}
.rightcolumn {
    float: right;
    width: 77%;
    height: 90%;
    margin-top: 20px;
    border: solid #333;
    background-color: #f1f1f1;
    padding-left: 20px;
}
/*回复框*/
.reply_box {
    width: 100%;
    height: 320px;
    min-height: 100px;
    /*max-height: 300px;*/
    flex: 0.3;
    border: 1px #03a9f4 solid;
}

.list_box {

}

.reply_text {
    letter-spacing: 2px;
    padding: 10px;
    width: 80%;
    height: 300px;
    word-wrap: break-word;
    word-break: break-all;
    border: none;
    resize: none;
    outline: none;
    caret-color: #ff00fc;
}

.reply_text::-webkit-scrollbar {
    width: 3px;
}

.reply_text::-webkit-scrollbar-track {
    background-color: red;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.reply_text::-webkit-scrollbar-thumb {
    background-color: green;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}


.reply_text:focus {
    border: 1px solid #03a9f4;
    box-shadow: 0 0 15px #03a9f4;
    border-right: none;
}

.btn_small {
    padding: 7px;
    border-radius: 5px;
    border-style: none;
    background-color: deepskyblue;
    width: 12%;
    position: relative;
    bottom: 13px;
    right: -30px;
    color: white;
    cursor: pointer;
}

.list {
    height: 60%;
    width: 100%;
    min-height: 30rem;
    flex: 0.7;
    border: 1px #03a9f4 solid;
    flex-direction: column;
    overflow: auto;
}

.btn_send {
    position: relative;
    width: 15%;
    height: 20%;
    bottom: 10px;
    border: none;
    color: white;
    background: #333;
}